.icon-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 0;
  padding: 0;
  background: transparent;

  &:hover &__text {
    text-decoration: underline;
  }

  &:hover {
    .icon {
      filter: saturate(2) opacity(0.7);
    }
  }

  &__text {
    font-size: $font-size-text-medium;
    line-height: $line-height-huge;
    letter-spacing: $letter-spacing-primary;
    color: $color-text-primary;
    padding-right: 8px;
  }
}
